body { background-image: linear-gradient(90deg, green, blue); color:pink } h1{
color:purple; } table{ color:white; } #Primerboton{ padding-bottom:20px; background-image:url(drogas.jpeg);
color:blue; font-size: 25px; text-shadow: blue 10px 10px 8px; box-shadow:black
6px 6px 4px; borde-radius: 1.00 em; } #Primerboton:hover{ background-image:url("boton1.jpeg");
color: purple; font-family: Arial; }




<!--
Visual Code Mobile
Developed By Manish Nirmal
App Available on Play Store :-
https://play.google.com/store/apps/details?id=lk.visual.code.mobile
YouTube :-
https://youtube.com/ManishNirmal
-->